
{% if customer %}
<div class="page-header">
	<h3 class="text-uppercase">MY ORDERS</h3>
</div>

<a href="javascript:;" id="new-order-link" class="btn btn-default pull-right" data-url="<%= load_templates_url(0) %>" data-id="{{customer.id}}">NEW ORDER</a>

<div class="row">
	<div class="col-md-12">
		{% paginate customer.orders by 2 %}
			{% if customer.orders.size != 0 %}
		        <table class="table table-striped">
			        	<thead>
			        		<tr>
			        			<th>Order No.</th>
			        			<th class="hidden-xs">Order date</th>
			        			<th>Status</th>
			        			<th></th>
			        		</tr>
			        	</thead>
			        	<tbody>

						{% for order in customer.orders %}
			        		<tr>
			        			<td data-label="{{ 'customer.orders.order_number' | t }}">{{ order.name | link_to: order.customer_url }}</td>
			        			<td data-label="{{ 'customer.orders.date' | t }}">{{ order.created_at | date: format: 'month_day_year' }}</td>
			        			<td data-label="{{ 'customer.orders.fulfillment_status' | t }}"><div class="label label-info">{{ order.fulfillment_status_label }}</div></td>
			        			<td>
			            			<div class="btn-group">
			            				<button type="button" class="btn btn-blue btn-sm dropdown-toggle" data-toggle="dropdown">
			            					Options <span class="caret"></span>
			            				</button>
			            				<ul class="dropdown-menu dropdown-primary" role="menu">
			            					<li>
			            					    <a href="#" class="save-template" 
			            					                data-toggle="modal" 
			            					                data-target="#modal-2" 
			            					                data-order='{{order.id}}'
			            					                data-customer = "{{customer.id}}"
			            					                data-attributes='{{order.attributes | json}}'
			            					                data-products="{% for line_item in order.line_items %}{{line_item.title}}, {% endfor %}" >Save as template</a>
			            					</li>
			            					<li class="divider"></li>
			            					<li><a href="#">Download</a>
			            					</li>
			            					<li class="divider"></li>
			            					<li><a href="#">Upload</a>
			            					</li>
			            				</ul>
			            			</div>
			        			</td>
			        		</tr>
			        		{% endfor %}
			        	</tbody>
			        </table>
		    {% else %}

	      	<p>{{ 'customer.orders.none' | t }}</p>

	    	{% endif %}

			<ul class="pager pull-left">
				{% if paginate.previous.is_link %}
				    <li><a href="{{ paginate.previous.url }}"><i class="entypo-left-thin"></i> {{ paginate.previous.title }}</a></li>
				{% endif %}
				{% if paginate.next.is_link %}
				    <li><a href="{{ paginate.next.url }}">{{ paginate.next.title }} <i class="entypo-right-thin"></i></a></li>
				{% endif %}
			</ul>
		{% endpaginate %}
    </div>
</div>
{% else %}
	<script>window.location.href = '/account/login';</script>
{% endif %}

<%= render 'modal_new_order' %>
<%= render 'modal_create_template' %>
<%= render 'modal_rename_template' %>
<%= render 'modal_new_order_option.html.erb' %>