<form role="form" method="post" class="form-horizontal validate" action="">
	<div class="row">
	    <div class="col-md-8">
			<div class="panel-group joined" id="accordion-test-2">

				<!-- Clipping Path Accordion -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion-test-2" href="#clipping-path-accordion">
								Clipping path
							</a>
						</h4>
					</div>
					<div id="clipping-path-accordion" class="panel-collapse collapse in">
						<div class="panel-body">
							<div class="form-group">
								<div class="col-sm-12">
									<div class="radio">
										<label>
											<input type="radio" data-remote="true" data-url="admin/quotations/samples" name="clipping_path_option" value="clipping_path">Clipping path <i class="entypo-info popover-primary" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="
												<p><strong>What:</strong> A clipping path is an outline created in Photoshop which enables most precious selection of any portion within a picture.</p>
												<p><strong>How:</strong> We create all clipping paths using Photoshop Pen Tool, ensuring only high quality.</p>
												<p><strong>Use:</strong> The most common use of a clipping path is to remove background from an image. Sometimes it is also used to select a product in order to enhance the background or the product.</p>
												" data-original-title="Clipping path" data-container="body" data-html="true"></i>
										</label>
									</div>
									<div class="row clipping_path_category_block radio-with-image" style="display: none">
										<div class="col-sm-3 col-xs-6">
											<div class="radio">
												<figure class="figure">
													<label>
														<input type="radio" name="clipping_path" value="1">
														<%= image_tag("quotation/clipping_path/1/clipping_path-category_1-sample_1_after.jpg", class: "img-responsive rounded") %>
														<figcaption class="figure-caption more-samples">
															<button type="button" class="btn btn-default btn-xs btn-block">Category 1</button>
														</figcaption>
													</label>
												</figure>
											</div>
										</div>
										<div class="col-sm-3 col-xs-6">
											<div class="radio">
												<figure class="figure">
													<label>
														<input type="radio" name="clipping_path" value="2">
														<%= image_tag("quotation/clipping_path/2/clipping_path-category_2-sample_1_after.jpg", class: "img-responsive") %>
														<figcaption class="figure-caption more-samples">
															<button type="button" class="btn btn-default btn-xs btn-block">Category 2</button>
														</figcaption>
													</label>
												</figure>
											</div>
										</div>
										<div class="col-sm-3 col-xs-6">
											<div class="radio">
												<figure class="figure">
													<label>
														<input type="radio" name="clipping_path" value="3">
														<%= image_tag("quotation/clipping_path/3/clipping_path-category_3-sample_1_after.jpg", class: "img-responsive") %>
														<figcaption class="figure-caption more-samples">
															<button type="button" class="btn btn-default btn-xs btn-block">Category 3</button>
														</figcaption>
													</label>
												</figure>
											</div>
										</div>
										<div class="col-sm-3 col-xs-6">
											<div class="radio">
												<figure class="figure">
													<label>
														<input type="radio" name="clipping_path" value="4">
														<%= image_tag("quotation/clipping_path/4/clipping_path-category_4-sample_1_after.jpg", class: "img-responsive") %>
														<figcaption class="figure-caption more-samples">
															<button type="button" class="btn btn-default btn-xs btn-block">Category 4</button>
														</figcaption>
													</label>
												</figure>
											</div>
										</div>
										<div class="col-sm-3 col-xs-6">
											<div class="radio">
												<figure class="figure">
													<label>
														<input type="radio" name="clipping_path" value="5">
														<%= image_tag("quotation/clipping_path/5/clipping_path-category_5-sample_1_after.jpg", class: "img-responsive") %>
														<figcaption class="figure-caption more-samples">
															<button type="button" class="btn btn-default btn-xs btn-block">Category 5</button>
														</figcaption>
													</label>
												</figure>
											</div>
										</div>
										<div class="col-sm-3 col-xs-6">
											<div class="radio">
												<figure class="figure">
													<label>
														<input type="radio" name="clipping_path" value="6">
														<%= image_tag("quotation/clipping_path/6/clipping_path-category_6-sample_1_after.jpg", class: "img-responsive") %>
														<figcaption class="figure-caption more-samples">
															<button type="button" class="btn btn-default btn-xs btn-block">Category 6</button>
														</figcaption>
													</label>
												</figure>
											</div>
										</div>
										<div class="col-sm-3 col-xs-6">
											<div class="radio">
												<figure class="figure">
													<label>
														<input type="radio" name="clipping_path" value="7">
														<%= image_tag("quotation/clipping_path/7/clipping_path-category_7-sample_1_after.jpg", class: "img-responsive") %>
														<figcaption class="figure-caption more-samples">
															<button type="button" class="btn btn-default btn-xs btn-block">Category 7</button>
														</figcaption>
													</label>
												</figure>
											</div>
										</div>
										<div class="col-sm-3 col-xs-6">
											<div class="radio">
												<figure class="figure">
													<label>
														<input type="radio" name="clipping_path" value="8">
														<%= image_tag("quotation/clipping_path/8/clipping_path-category_8-sample_1_after.jpg", class: "img-responsive") %>
														<figcaption class="figure-caption more-samples">
															<button type="button" class="btn btn-default btn-xs btn-block">Category 8</button>
														</figcaption>
													</label>
												</figure>
											</div>
										</div>
									</div>

									<div class="radio">
										<label>
											<input type="radio" name="clipping_path_option" value="multiple_clipping_path">Multiple clipping path
										</label>
									</div>
									<div class="row multiple_clipping_path_category_block radio-with-image" style="display: none">
										<div class="col-sm-3 col-xs-6">
											<div class="radio">
												<figure class="figure">
													<label>
														<input type="radio" name="multiple_clipping_path" value="1">
														<%= image_tag("quotation/multiple_clipping_path/1/multiple_clipping_path-category_1-sample_1_after.jpg", class: "img-responsive rounded") %>
														<figcaption class="figure-caption more-samples">
															<button type="button" class="btn btn-default btn-xs btn-block">Category 1</button>
														</figcaption>
													</label>
												</figure>
											</div>
										</div>
										<div class="col-sm-3 col-xs-6">
											<div class="radio">
												<figure class="figure">
													<label>
														<input type="radio" name="multiple_clipping_path" value="2">
														<%= image_tag("quotation/multiple_clipping_path/2/multiple_clipping_path-category_2-sample_1_after.jpg", class: "img-responsive") %>
														<figcaption class="figure-caption more-samples">
															<button type="button" class="btn btn-default btn-xs btn-block">Category 2</button>
														</figcaption>
													</label>
												</figure>
											</div>
										</div>
										<div class="col-sm-3 col-xs-6">
											<div class="radio">
												<figure class="figure">
													<label>
														<input type="radio" name="multiple_clipping_path" value="3">
														<%= image_tag("quotation/multiple_clipping_path/3/multiple_clipping_path-category_3-sample_1_after.jpg", class: "img-responsive") %>
														<figcaption class="figure-caption more-samples">
															<button type="button" class="btn btn-default btn-xs btn-block">Category 3</button>
														</figcaption>
													</label>
												</figure>
											</div>
										</div>
										<div class="col-sm-3 col-xs-6">
											<div class="radio">
												<figure class="figure">
													<label>
														<input type="radio" name="multiple_clipping_path" value="4">
														<%= image_tag("quotation/multiple_clipping_path/4/multiple_clipping_path-category_4-sample_1_after.jpg", class: "img-responsive") %>
														<figcaption class="figure-caption more-samples">
															<button type="button" class="btn btn-default btn-xs btn-block">Category 4</button>
														</figcaption>
													</label>
												</figure>
											</div>
										</div>
									</div>

									<div class="radio">
										<label>
											<input type="radio" name="clipping_path_option" value="advanced_photoshop_mask">Advanced Photoshop mask
										</label>
									</div>
									<div class="row advanced_photoshop_mask_category_block radio-with-image" style="display: none">
										<div class="col-sm-3 col-xs-6">
											<div class="radio">
												<figure class="figure">
													<label>
														<input type="radio" name="advanced_photoshop_mask" value="1">
														<%= image_tag("quotation/advanced_photoshop_mask/1/advanced_photoshop_mask-category_1-sample_1_after.jpg", class: "img-responsive rounded") %>
														<figcaption class="figure-caption more-samples">
															<button type="button" class="btn btn-default btn-xs btn-block">Category 1</button>
														</figcaption>
													</label>
												</figure>
											</div>
										</div>
										<div class="col-sm-3 col-xs-6">
											<div class="radio">
												<figure class="figure">
													<label>
														<input type="radio" name="advanced_photoshop_mask" value="2">
														<%= image_tag("quotation/advanced_photoshop_mask/2/advanced_photoshop_mask-category_2-sample_1_after.jpg", class: "img-responsive") %>
														<figcaption class="figure-caption more-samples">
															<button type="button" class="btn btn-default btn-xs btn-block">Category 2</button>
														</figcaption>
													</label>
												</figure>
											</div>
										</div>
										<div class="col-sm-3 col-xs-6">
											<div class="radio">
												<figure class="figure">
													<label>
														<input type="radio" name="advanced_photoshop_mask" value="3">
														<%= image_tag("quotation/advanced_photoshop_mask/3/advanced_photoshop_mask-category_3-sample_1_after.jpg", class: "img-responsive") %>
														<figcaption class="figure-caption more-samples">
															<button type="button" class="btn btn-default btn-xs btn-block">Category 3</button>
														</figcaption>
													</label>
												</figure>
											</div>
										</div>
										<div class="col-sm-3 col-xs-6">
											<div class="radio">
												<figure class="figure">
													<label>
														<input type="radio" name="advanced_photoshop_mask" value="4">
														<%= image_tag("quotation/advanced_photoshop_mask/4/advanced_photoshop_mask-category_4-sample_1_after.jpg", class: "img-responsive") %>
														<figcaption class="figure-caption more-samples">
															<button type="button" class="btn btn-default btn-xs btn-block">Category 4</button>
														</figcaption>
													</label>
												</figure>
											</div>
										</div>
										<div class="col-sm-3 col-xs-6">
											<div class="radio">
												<figure class="figure">
													<label>
														<input type="radio" name="advanced_photoshop_mask" value="5">
														<%= image_tag("quotation/advanced_photoshop_mask/5/advanced_photoshop_mask-category_5-sample_1_after.jpg", class: "img-responsive") %>
														<figcaption class="figure-caption more-samples">
															<button type="button" class="btn btn-default btn-xs btn-block">Category 5</button>
														</figcaption>
													</label>
												</figure>
											</div>
										</div>
										<div class="col-sm-3 col-xs-6">
											<div class="radio">
												<figure class="figure">
													<label>
														<input type="radio" name="advanced_photoshop_mask" value="6">
														<%= image_tag("quotation/advanced_photoshop_mask/6/advanced_photoshop_mask-category_6-sample_1_after.jpg", class: "img-responsive") %>
														<figcaption class="figure-caption more-samples">
															<button type="button" class="btn btn-default btn-xs btn-block">Category 6</button>
														</figcaption>
													</label>
												</figure>
											</div>
										</div>
									</div>

									<div class="radio">
										<label>
											<input type="radio" name="clipping_path_option" value="none">None
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Retouching & Manipulation Accordion -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion-test-2" href="#retouching-accordion" class="collapsed">
								Retouching & Manipulation
							</a>
						</h4>
					</div>
					<div id="retouching-accordion" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="form-group">
								<div class="col-sm-12">
									<div class="checkbox">
										<label>
											<input type="checkbox" id="retouching" name="retouching">Photoshop retouching
										</label>
									</div>
									<div class="row retouching_category_block" style="display: none">
										<div class="col-md-12 radio-with-image">
											<ul class="nav nav-tabs bordered">
												<li class="active">
													<a href="#spots" data-toggle="tab">
														<span class="visible-xs">Spots</span>
														<span class="hidden-xs">Dust/spots/scratches</span>
													</a>
												</li>
												<li>
													<a href="#wrinkles" data-toggle="tab">
														<span class="visible-xs">Wrinkles</span>
														<span class="hidden-xs">Wrinkles on clothing</span>
													</a>
												</li>
												<li>
													<a href="#skin" data-toggle="tab">
														<span>Skin</span>
													</a>
												</li>
												<li>
													<a href="#reflections" data-toggle="tab">
														<span class="visible-xs">Reflections</span>
														<span class="hidden-xs">Camera reflections</span>
													</a>
												</li>
											</ul>
											<div class="tab-content">
												<div class="tab-pane active" id="spots">
													<div class="row">
														<div class="col-sm-3 col-xs-6">
															<div class="radio">
																<figure class="figure">
																	<label>
																		<input type="radio" name="retouching" value="spot_1">
																		<%= image_tag("quotation/retouching/spot_1/photoshop_retouching-category_spot_1-sample_1_after.jpg", class: "img-responsive rounded") %>
																		<figcaption class="figure-caption more-samples">
																			<button type="button" class="btn btn-default btn-xs btn-block">Basic</button>
																		</figcaption>
																	</label>
																</figure>
															</div>
														</div>
														<div class="col-sm-3 col-xs-6">
															<div class="radio">
																<figure class="figure">
																	<label>
																		<input type="radio" name="retouching" value="spot_2">
																		<%= image_tag("quotation/retouching/spot_2/photoshop_retouching-category_spot_2-sample_1_after.jpg", class: "img-responsive") %>
																		<figcaption class="figure-caption more-samples">
																			<button type="button" class="btn btn-default btn-xs btn-block">Advanced</button>
																		</figcaption>
																	</label>
																</figure>
															</div>
														</div>
														<div class="col-sm-2 col-xs-3">
															<div class="radio">
																<figure class="figure">
																	<label>
																		<input type="radio" name="retouching" value="0">
																		<%= image_tag("service-selection-none.jpg", class: "img-responsive") %>
																		<figcaption class="figure-caption">
																			<button type="button" class="btn btn-default btn-xs btn-block">None</button>
																		</figcaption>
																	</label>
																</figure>
															</div>
														</div>
													</div>
												</div>
												<div class="tab-pane" id="wrinkles">
													<div class="row">
														<div class="col-sm-3 col-xs-6">
															<div class="radio">
																<figure class="figure">
																	<label>
																		<input type="radio" name="retouching" value="wrinkle_1">
																		<%= image_tag("quotation/retouching/wrinkle_1/photoshop_retouching-category_wrinkle_1-sample_1_after.jpg", class: "img-responsive rounded") %>
																		<figcaption class="figure-caption more-samples">
																			<button type="button" class="btn btn-default btn-xs btn-block">Wrinkle smoothing</button>
																		</figcaption>
																	</label>
																</figure>
															</div>
														</div>
														<div class="col-sm-3 col-xs-6">
															<div class="radio">
																<figure class="figure">
																	<label>
																		<input type="radio" name="retouching" value="wrinkle_2">
																		<%= image_tag("quotation/retouching/wrinkle_2/photoshop_retouching-category_wrinkle_2-sample_1_after.jpg", class: "img-responsive") %>
																		<figcaption class="figure-caption more-samples">
																			<button type="button" class="btn btn-default btn-xs btn-block">Wrinkle smoothing + symmetric</button>
																		</figcaption>
																	</label>
																</figure>
															</div>
														</div>
														<div class="col-sm-2 col-xs-3">
															<div class="radio">
																<figure class="figure">
																	<label>
																		<input type="radio" name="retouching" value="0">
																		<%= image_tag("service-selection-none.jpg", class: "img-responsive") %>
																		<figcaption class="figure-caption">
																			<button type="button" class="btn btn-default btn-xs btn-block">None</button>
																		</figcaption>
																	</label>
																</figure>
															</div>
														</div>
													</div>
												</div>
												<div class="tab-pane" id="skin">
													<div class="row">
														<div class="col-sm-3 col-xs-6">
															<div class="radio">
																<figure class="figure">
																	<label>
																		<input type="radio" name="retouching" value="skin_1">
																		<%= image_tag("quotation/retouching/skin_1/photoshop_retouching-category_skin_1-sample_1_after.jpg", class: "img-responsive rounded") %>
																		<figcaption class="figure-caption more-samples">
																			<button type="button" class="btn btn-default btn-xs btn-block">Basic</button>
																		</figcaption>
																	</label>
																</figure>
															</div>
														</div>
														<div class="col-sm-3 col-xs-6">
															<div class="radio">
																<figure class="figure">
																	<label>
																		<input type="radio" name="retouching" value="skin_2">
																		<%= image_tag("quotation/retouching/skin_2/photoshop_retouching-category_skin_2-sample_1_after.jpg", class: "img-responsive") %>
																		<figcaption class="figure-caption more-samples">
																			<button type="button" class="btn btn-default btn-xs btn-block">Advanced beauty retouch</button>
																		</figcaption>
																	</label>
																</figure>
															</div>
														</div>
														<div class="col-sm-2 col-xs-3">
															<div class="radio">
																<figure class="figure">
																	<label>
																		<input type="radio" name="retouching" value="0">
																		<%= image_tag("service-selection-none.jpg", class: "img-responsive") %>
																		<figcaption class="figure-caption">
																			<button type="button" class="btn btn-default btn-xs btn-block">None</button>
																		</figcaption>
																	</label>
																</figure>
															</div>
														</div>
													</div>
												</div>
												<div class="tab-pane" id="reflections">
													<div class="row">
														<div class="col-sm-3 col-xs-6">
															<div class="radio">
																<figure class="figure">
																	<label>
																		<input type="radio" name="retouching" value="reflection_1">
																		<%= image_tag("quotation/retouching/reflection_1/photoshop_retouching-category_reflection_1-sample_1_after.jpg", class: "img-responsive rounded") %>
																		<figcaption class="figure-caption more-samples">
																			<button type="button" class="btn btn-default btn-xs btn-block">Basic</button>
																		</figcaption>
																	</label>
																</figure>
															</div>
														</div>
														<div class="col-sm-3 col-xs-6">
															<div class="radio">
																<figure class="figure">
																	<label>
																		<input type="radio" name="retouching" value="reflection_2">
																		<%= image_tag("quotation/retouching/reflection_2/photoshop_retouching-category_reflection_2-sample_1_after.jpg", class: "img-responsive") %>
																		<figcaption class="figure-caption more-samples">
																			<button type="button" class="btn btn-default btn-xs btn-block">Advanced</button>
																		</figcaption>
																	</label>
																</figure>
															</div>
														</div>
														<div class="col-sm-2 col-xs-3">
															<div class="radio">
																<figure class="figure">
																	<label>
																		<input type="radio" name="retouching" value="0">
																		<%= image_tag("service-selection-none.jpg", class: "img-responsive") %>
																		<figcaption class="figure-caption">
																			<button type="button" class="btn btn-default btn-xs btn-block">None</button>
																		</figcaption>
																	</label>
																</figure>
															</div>
														</div>
													</div>
												</div>

											</div>
										</div>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" id="invisible_mannequin" name="invisible_mannequin">Invisible mannequin
										</label>
									</div>
									<div class="row invisible_mannequin_category_block radio-with-image" style="display: none">
										<div class="col-sm-3 col-xs-6">
											<div class="radio">
												<figure class="figure">
													<label>
														<input type="radio" name="invisible_mannequin" value="1">
														<%= image_tag("quotation/invisible_mannequin/1/invisible_mannequin-category_1-sample_1_after.jpg", class: "img-responsive rounded") %>
														<figcaption class="figure-caption more-samples">
															<button type="button" class="btn btn-default btn-xs btn-block">Category 1</button>
														</figcaption>
													</label>
												</figure>
											</div>
										</div>
										<div class="col-sm-3 col-xs-6">
											<div class="radio">
												<figure class="figure">
													<label>
														<input type="radio" name="invisible_mannequin" value="2">
														<%= image_tag("quotation/invisible_mannequin/2/invisible_mannequin-category_2-sample_1_after.jpg", class: "img-responsive") %>
														<figcaption class="figure-caption more-samples">
															<button type="button" class="btn btn-default btn-xs btn-block">Category 2</button>
														</figcaption>
													</label>
												</figure>
											</div>
										</div>
									</div>

									<div class="checkbox">
										<label>
											<input type="checkbox" id="color_variants" name="color_variants">Color variants
										</label>
									</div>
									<div class="row color_variants_block" style="display: none">
										<div class="col-xs-12">
											<table class="table responsive" id="my_variant">
												<thead>
													<tr>
														<th>Variant name</th>
														<th>Color code</th>
														<th>Color sample image</th>
													</tr>
												</thead>
												<tbody>
													<tr class="color_variant_tr_clone">
														<td>
															<div class="form-group">
																<div class="col-sm-12">
																	<input type="text" class="form-control" placeholder="Red" name="variant_name" />
																</div>
															</div>
														</td>
														<td>
															<div class="form-group">
																<div class="col-sm-6">
																	<div class="input-group">
																		<input type="text" class="form-control colorpicker" data-format="hex" />
																		<div class="input-group-addon">
																			<i class="color-preview"></i>
																		</div>
																	</div>
																</div>
															</div>
														</td>
														<td>
															<div class="form-group">
																<div class="col-sm-12">
																	<div class="fileinput fileinput-new" data-provides="fileinput">
																		<div class="fileinput-new thumbnail" style="width: 70px; height: 70px;" data-trigger="fileinput">
																			<i class="entypo-picture" style="font-size: 40px;"></i>
																		</div>
																		<div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 70px; max-height: 70px"></div>
																		<div>
																			<span class="btn btn-white btn-file btn-xs">
																				<span class="fileinput-new">Select image</span>
																				<span class="fileinput-exists">Change</span>
																				<input type="file" name="..." accept="image/*">
																			</span>
																			<a href="#" class="btn btn-orange fileinput-exists btn-xs" data-dismiss="fileinput">Remove</a>
																		</div>
																	</div>
																</div>
															</div>
														</td>
													</tr>
													<tr>
														<td colspan="3">
															<button type="button" class="btn btn-green btn-icon btn-sm icon-left" id="add_another_variant">
																<i class="entypo-plus"></i>
																Add another variant
															</button>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Shadow effect Accordion -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion-test-2" href="#collapseTwo-2" class="collapsed">
								Shadow effect
							</a>
						</h4>
					</div>
					<div id="collapseTwo-2" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="form-group">
								<div class="col-sm-12">
									<div class="radio">
										<label>
											<input type="radio" name="shadow_effect_option" value="drop_shadow">Drop shadow
										</label>
									</div>
									<div class="row drop_shadow_category_block radio-with-image" style="display: none">
										<div class="col-sm-3 col-xs-6">
											<div class="radio">
												<figure class="figure">
													<label>
														<input type="radio" name="drop_shadow" value="1">
														<%= image_tag("quotation/drop_shadow/1/drop_shadow-category_1-sample_1_after.jpg", class: "img-responsive rounded") %>
														<figcaption class="figure-caption more-samples">
															<button type="button" class="btn btn-default btn-xs btn-block">Light</button>
														</figcaption>
													</label>
												</figure>
											</div>
										</div>
										<div class="col-sm-3 col-xs-6">
											<div class="radio">
												<figure class="figure">
													<label>
														<input type="radio" name="drop_shadow" value="2">
														<%= image_tag("quotation/drop_shadow/2/drop_shadow-category_2-sample_1_after.jpg", class: "img-responsive") %>
														<figcaption class="figure-caption more-samples">
															<button type="button" class="btn btn-default btn-xs btn-block">Standard</button>
														</figcaption>
													</label>
												</figure>
											</div>
										</div>
										<div class="col-sm-3 col-xs-6">
											<div class="radio">
												<figure class="figure">
													<label>
														<input type="radio" name="drop_shadow" value="3">
														<%= image_tag("quotation/drop_shadow/3/drop_shadow-category_3-sample_1_after.jpg", class: "img-responsive") %>
														<figcaption class="figure-caption more-samples">
															<button type="button" class="btn btn-default btn-xs btn-block">Dark</button>
														</figcaption>
													</label>
												</figure>
											</div>
										</div>
									</div>

									<div class="radio">
										<label>
											<input type="radio" name="shadow_effect_option" value="existing_shadow">Existing shadow
										</label>
									</div>
									<div class="row existing_shadow_category_block radio-with-image" style="display: none">
										<div class="col-sm-3 col-xs-6">
											<div class="radio">
												<figure class="figure">
													<label>
														<input type="radio" name="existing_shadow" value="1">
														<%= image_tag("quotation/existing_shadow/1/existing_shadow-category_1-sample_1_after.jpg", class: "img-responsive rounded") %>
														<figcaption class="figure-caption more-samples">
															<button type="button" class="btn btn-default btn-xs btn-block">Category 1</button>
														</figcaption>
													</label>
												</figure>
											</div>
										</div>
									</div>

									<div class="radio">
										<label>
											<input type="radio" name="shadow_effect_option" value="natural_shadow">Natural shadow
										</label>
									</div>
									<div class="row natural_shadow_category_block radio-with-image" style="display: none">
										<div class="col-sm-3 col-xs-6">
											<div class="radio">
												<figure class="figure">
													<label>
														<input type="radio" name="natural_shadow" value="1">
														<%= image_tag("quotation/natural_shadow/1/natural_shadow-category_1-sample_1_after.jpg", class: "img-responsive rounded") %>
														<figcaption class="figure-caption more-samples">
															<button type="button" class="btn btn-default btn-xs btn-block">Category 1</button>
														</figcaption>
													</label>
												</figure>
											</div>
										</div>
										<div class="col-sm-3 col-xs-6">
											<div class="radio">
												<figure class="figure">
													<label>
														<input type="radio" name="natural_shadow" value="2">
														<%= image_tag("quotation/natural_shadow/2/natural_shadow-category_2-sample_1_after.jpg", class: "img-responsive") %>
														<figcaption class="figure-caption more-samples">
															<button type="button" class="btn btn-default btn-xs btn-block">Category 2</button>
														</figcaption>
													</label>
												</figure>
											</div>
										</div>
										<div class="col-sm-3 col-xs-6">
											<div class="radio">
												<figure class="figure">
													<label>
														<input type="radio" name="natural_shadow" value="3">
														<%= image_tag("quotation/natural_shadow/3/natural_shadow-category_3-sample_1_after.jpg", class: "img-responsive") %>
														<figcaption class="figure-caption more-samples">
															<button type="button" class="btn btn-default btn-xs btn-block">Category 3</button>
														</figcaption>
													</label>
												</figure>
											</div>
										</div>
									</div>

									<div class="radio">
										<label>
											<input type="radio" name="shadow_effect_option" value="floating_shadow">Floating shadow
										</label>
									</div>
									<div class="row floating_shadow_category_block radio-with-image" style="display: none">
										<div class="col-sm-3 col-xs-6">
											<div class="radio">
												<figure class="figure">
													<label>
														<input type="radio" name="floating_shadow" value="1">
														<%= image_tag("quotation/floating_shadow/1/floating_shadow-category_1-sample_1_after.jpg", class: "img-responsive rounded") %>
														<figcaption class="figure-caption more-samples">
															<button type="button" class="btn btn-default btn-xs btn-block">Category 1</button>
														</figcaption>
													</label>
												</figure>
											</div>
										</div>
									</div>

									<div class="radio">
										<label>
											<input type="radio" name="shadow_effect_option" value="mirror_effect">Mirror effect
										</label>
									</div>
									<div class="row mirror_effect_category_block radio-with-image" style="display: none">
										<div class="col-sm-3 col-xs-6">
											<div class="radio">
												<figure class="figure">
													<label>
														<input type="radio" name="mirror_effect" value="1">
														<%= image_tag("quotation/mirror_effect/1/mirror_effect-category_1-sample_1_after.jpg", class: "img-responsive rounded") %>
														<figcaption class="figure-caption more-samples">
															<button type="button" class="btn btn-default btn-xs btn-block">Category 1</button>
														</figcaption>
													</label>
												</figure>
											</div>
										</div>
										<div class="col-sm-3 col-xs-6">
											<div class="radio">
												<figure class="figure">
													<label>
														<input type="radio" name="mirror_effect" value="2">
														<%= image_tag("quotation/mirror_effect/2/mirror_effect-category_2-sample_1_after.jpg", class: "img-responsive rounded") %>
														<figcaption class="figure-caption more-samples">
															<button type="button" class="btn btn-default btn-xs btn-block">Category 2</button>
														</figcaption>
													</label>
												</figure>
											</div>
										</div>
										<div class="col-sm-3 col-xs-6">
											<div class="radio">
												<figure class="figure">
													<label>
														<input type="radio" name="mirror_effect" value="3">
														<%= image_tag("quotation/mirror_effect/3/mirror_effect-category_3-sample_1_after.jpg", class: "img-responsive rounded") %>
														<figcaption class="figure-caption more-samples">
															<button type="button" class="btn btn-default btn-xs btn-block">Category 3</button>
														</figcaption>
													</label>
												</figure>
											</div>
										</div>
									</div>

									<div class="radio">
										<label>
											<input type="radio" name="shadow_effect_option" value="none">None
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Vector conversion Accordion -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion-test-2" href="#VectorConversion" class="collapsed">
								Vector conversion
							</a>
						</h4>
					</div>
					<div id="VectorConversion" class="panel-collapse collapse">
						<div class="panel-body">
							<div class="row vector_conversion_category_block radio-with-image">
								<div class="col-sm-3 col-xs-6">
									<div class="radio">
										<figure class="figure">
											<label>
												<input type="radio" name="vector_conversion" value="1">
												<%= image_tag("quotation/vector_conversion/1/vector_conversion-category_1-sample_1_after.jpg", class: "img-responsive rounded") %>
												<figcaption class="figure-caption more-samples">
													<button type="button" class="btn btn-default btn-xs btn-block">Category 1</button>
												</figcaption>
											</label>
										</figure>
									</div>
								</div>
								<div class="col-sm-3 col-xs-6">
									<div class="radio">
										<figure class="figure">
											<label>
												<input type="radio" name="vector_conversion" value="2">
												<%= image_tag("quotation/vector_conversion/2/vector_conversion-category_2-sample_1_after.jpg", class: "img-responsive") %>
												<figcaption class="figure-caption more-samples">
													<button type="button" class="btn btn-default btn-xs btn-block">Category 2</button>
												</figcaption>
											</label>
										</figure>
									</div>
								</div>
								<div class="col-sm-3 col-xs-6">
									<div class="radio">
										<figure class="figure">
											<label>
												<input type="radio" name="vector_conversion" value="3">
												<%= image_tag("quotation/vector_conversion/3/vector_conversion-category_3-sample_1_after.jpg", class: "img-responsive") %>
												<figcaption class="figure-caption more-samples">
													<button type="button" class="btn btn-default btn-xs btn-block">Category 3</button>
												</figcaption>
											</label>
										</figure>
									</div>
								</div>
								<div class="col-sm-3 col-xs-6">
									<div class="radio">
										<figure class="figure">
											<label>
												<input type="radio" name="vector_conversion" value="4">
												<%= image_tag("quotation/vector_conversion/4/vector_conversion-category_4-sample_1_after.jpg", class: "img-responsive") %>
												<figcaption class="figure-caption more-samples">
													<button type="button" class="btn btn-default btn-xs btn-block">Category 4</button>
												</figcaption>
											</label>
										</figure>
									</div>
								</div>
								<div class="col-sm-3 col-xs-6">
									<div class="radio">
										<figure class="figure">
											<label>
												<input type="radio" name="vector_conversion" value="5">
												<%= image_tag("quotation/vector_conversion/5/vector_conversion-category_5-sample_1_after.jpg", class: "img-responsive") %>
												<figcaption class="figure-caption more-samples">
													<button type="button" class="btn btn-default btn-xs btn-block">Category 5</button>
												</figcaption>
											</label>
										</figure>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Basics & Extras Accordion -->
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion-test-2" href="#Basics">
								Basics & Extras
							</a>
						</h4>
					</div>
					<div id="Basics" class="panel-collapse collapse in">
						<div class="panel-body">

							<!-- Straighten and Crop -->
				    		<div class="form-group">
				    			<label class="col-sm-5 control-label">Straighten, crop and set margin (FREE)<br><a href="#"><small>Learn more</small></a></label>
				    			<div class="col-sm-7">
									<div class="radio">
										<label>
											<input type="radio" name="crop" checked="checked">Yes
										</label>
									</div>
									<div class="radio">
										<label>
											<input type="radio" name="crop">No (keep in original state)
										</label>
									</div>
								</div>
				    		</div>

							<!-- Copy image -->
							<div class="panel panel-default" data-collapsed="0">
								<div class="panel-body">
									<div class="main_copy_clone">
										<h4>Main copy</h4>

							    		<div class="form-group">
							    			<label class="col-sm-5 control-label">Output image size</label>
							    			<div class="col-sm-7">
							    				<div class="resize_image_question">
								    				<div class="radio-inline">
								    					<label>
								    						<input type="radio" name="resize_image" value="1" checked>Resize to
								    					</label>
								    				</div>
								    				<div class="radio-inline">
								    					<label>
								    						<input type="radio" name="resize_image" value="0" checked>Keep original size
								    					</label>
								    				</div>
							    				</div>
							    				<div class="form-inline">
								    				<label for="image_width" class="control-label">Width</label>
							                        <div class="input-group">
							                            <input type="text" name="image_width" class="form-control" size="4">
							                            <span class="input-group-addon">px</span>
													</div>
							                        <label for="image_height" class="control-label">Height</label>
							                        <div class="input-group">
							                            <input type="text" name="image_height" class="form-control" size="4">
							                            <span class="input-group-addon">px</span>
													</div>
												</div>
							    			</div>
							    		</div>

										<div class="form-group">
											<label for="field-1" class="col-sm-5 control-label">Return file format</label>
							    			<div class="col-sm-4">
							    				<select class="form-control">
													<option>JPG</option>
													<option>PNG</option>
													<option>PSD</option>
													<option>TIFF</option>
												</select>
							    			</div>
							    		</div>
							    		<hr>
						    		</div>

						    		<div class="form-group">
						    			<div class="col-sm-12">
							    			<button type="button" class="btn btn-green btn-sm btn-icon icon-left" id="add_another_copy">
												Add another copy
												<i class="entypo-plus"></i>
											</button>
										</div>
					    			</div>
								</div>
							</div>

							<br>
							<div class="form-group">
								<label class="col-sm-5 control-label">Additional comment (optional)</label>
				    			<div class="col-sm-7">
				    				<textarea class="form-control autogrow" id="field-ta"></textarea>
				    			</div>
				    		</div>
						</div>
					</div>
				</div>
			</div>
	    </div>

	    <!-- Your Selection -->
	    <div class="col-md-4">
			<div class="panel panel-info" data-collapsed="0">
				<div class="panel-heading">
					<div class="panel-title">Your selection</div>
				</div>
				<div class="panel-body">
					<ul>
						<li>Clipping path</li>
						<li>Drop shadow</li>
					</ul>
					<hr>

					<div class="form-group">
						<label for="field-1" class="col-xs-6 control-label">Turnaround time</label>
						<div class="col-xs-6">
							<div class="radio">
								<label>
									<input type="radio" name="turnaround_time" value="6">6 Hours
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="turnaround_time" value="12">12 Hours
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="turnaround_time" value="24" checked>24 Hours
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="turnaround_time" value="48">48 Hours
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="turnaround_time" value="96">96 Hours
								</label>
							</div>
							<div class="radio">
								<label>
									<input type="radio" name="turnaround_time" value="168">96+ Hours
								</label>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="field-1" class="col-xs-6 control-label">Cost per image</label>
						<div class="col-xs-6">
							<p class="form-control-static">$10</p>
						</div>
					</div>
					<div class="form-group">
						<label for="field-1" class="col-xs-6 control-label">Number of image</label>
						<div class="col-xs-4">
							<input type="text" class="form-control" name="quantity" placeholder="">
						</div>
					</div>
					<div class="form-group">
						<label for="field-1" class="col-xs-6 control-label">Sub-total<br>VAT (20%)</label>
						<div class="col-xs-6">
							<p class="form-control-static">$20<br>$5</p>
						</div>
					</div>

					<h3 class="text-center">Total: $25</h3>
					<div class="form-group">
						<div class="col-sm-12 text-center">
							<button type="submit" class="btn btn-blue btn-lg">SAVE QUOTATION</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>
