<h1>New CPI Pricing Structure</h1>

<table class="table table-striped">
  <tr>
    <th>#</th>
    <th>Service</th>
    <th>Complexity/Option</th>
    <th>Turnaround</th>
    <th>Customer/Order size</th>
    <th>Price</th>
  </tr>
 
     <% i = 0 %>
    <% @services.each do |service, options| %>
        <% options.each do |option, price| %>
            <% @turnaround.each do |time, t_m| %>
                <% @volume.each do |quantity, v_m| %>
                    <% i+=1 %>
                    <tr>
                      <td><%= i %></td>
                      <td><%= service %></td>
                      <td><%= option %></td>
                      <td><%= time %></td>
                      <td><%= quantity %></td>
                      <td>$<%= (price*t_m*v_m).round(2) %></td>
                    </tr>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
</table>