<div class="page-header">
	<h3 class="text-uppercase">BILLING</h3>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="panel panel-default panel-shadow" data-collapsed="0">
			
			<!-- panel head -->
			<div class="panel-heading">
				<div class="panel-title">ACCOUNT AND WALLET</div>
			</div>
			<!-- panel body -->
			<div class="panel-body">
			    
				<h4 class="text-center">My account: Pay as you go</h4>
				
				<form class="form-inline">
			        <div class="row">
				
					<div class="col-lg-4 col-md-4 col-sm-6">
						<label for="article_top_up"  class=" hidden-xs">&nbsp;</label>
						<h4 class="text-center">My Wallet balance: £<%= @customer_wallet_balance %> GBP</h4>
				    </div>
                    <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                    	<div class="row ">
	                    	<div class='col-lg-6 col-md-6 col-sm-6 col-sm-offset-0 col-xs-12' >
	                           	<select class="form-control top-up-bundles" name="article[top_up]" id="article_top_up">
								<% for variant in @product[:variants] %>
								<option value="<%= variant.id %>"><%= variant.title %></option>
								<% end %>
								</select>
							</div>
						
							<div class="input-spinner col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<%= label_tag 'quantity', 'Quantity'  %>
								<div id="quantity">
									<%= button_tag('-', type: 'button', class: "btn btn-default", name:"button-qtn-l", id:"button-qtn-l") %>
									<input type="text" class="form-control size-1 top-up-number" value="1" data-min="1" data-max="20" data-validate="number,required">
									<%= button_tag('+', type: 'button', class: "btn btn-default", name:"button-qtn-l", id:"button-qtn-r")   %>
								</div>
							</div>
						</div>
					
                   
		        	</div>
			        <div class="col-lg-3 col-md-3 col-sm-2 col-xs-12">
			            <button type="button" class="btn btn-blue submit">Pay</button>
	                	<label for="article_top_up" style='display:block;' class="hidden-xs">&nbsp;</label>
	                    <input type="button" name="commit" value="Pay <%= @product[:variants].first.title %>" class="btn btn-blue submit top-up-total" data-disable-with="Pay " id="pay-top-up-btn">
	          
		            </div>
			        </div>
			    </form>
			    
			    <div class="help-block"></div>
			    
			    <div class="text-center">
			    	<p><%= link_to 'Apply for monthly billing account', {controller: "billing", action: "index"} %></p>
				</div>
				
			    <div class="text-right">
			        <p>See all accont types <%= link_to 'here', {controller: "billing", action: "index"} %></p>
				</div>
				
			</div>
			
		</div>
	</div>
</div>

<hr />

<div class="row">
	<div class="col-md-12">
		<h4>UNINVOICED ORDERS</h4>
		<p>We invoice you every end of the month. However if you wish you can also generate invoice yourself and pay.</p>
		<table class="table table-striped">
			<thead>
				<tr>
				    <th>
		    			<div class="checkbox checkbox-replace">
		    				<input type="checkbox" id="check-all-unvoiced">
		    			</div>
		    		</th>
					<th>Order No.</th>
					<th>Order date</th>
					<th>Quantity</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
			    {% assign count = 0 %}
			    {% for order in customer.orders %}
			        {% if order.financial_status == 'pending' and order.cancelled == false %}
			        {% assign count = 1 %}
    				<tr>
    					<td>
    						<div class="checkbox checkbox-replace">
    							<input type="checkbox" class="unvoiced-individual-check">
    						</div>
    					</td>
    					<td class="unvoiced-order-name">{{ order.name }}</td>
    					<td>{{ order.created_at | date: "%d %B %Y" }}</td>
    					<td>{{ order.line_items.first.quantity }}</td>
    					<td>{{ order.total_price | money }}</td>
    				</tr>
    				{% endif %}
				{% endfor %}
				{% if count == 0 %}
				    <tr>
				        <td cols="5">No order found</td>
				    </tr>
				{% endif %}
			</tbody>
		</table>
		<div class="alert alert-info" id="generate_invoice_result"></div>
		<button id="generate_invoice" class="btn btn-blue text-uppercase" data-customer="{{customer.id}}" data-url="<%= generate_invoice_path %>">
		    GENERATE INVOICE
		</button> 
	</div>
</div>

<hr />

<div class="row">
	<div class="col-md-12">
		<h4>OUTSTANDING INVOICES</h4>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Invoice No.</th>
					<th>Date</th>
					<th>Amount</th>
					<th>Status</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody id="invoice_table">
			    
			    <% @count = 0 %>
			    <% unless @draft_orders.nil? %>
    			    <% @draft_orders.each do |draft_order| %>
    			        <% if draft_order.tags.include?('Invoice') and (( draft_order.status == 'open' ) or ( draft_order.status == 'invoice_sent')) %>
    			             <% @count = 1 %>
    			            <tr>
            					<td><%= draft_order.name %></td>
            					<td><%= Date.parse(draft_order.created_at).strftime('%d %B %Y') %></td>
            					<td><%= "$#{'%.02f' % draft_order.total_price}" %></td>
            					<td>
            					    <% if draft_order.status == 'invoice_sent' %>
            					        <div class="label label-secondary text-uppercase">
                					        <%= draft_order.status.gsub('_', ' ') %>
                					    </div>
            					    <% elsif draft_order.status == 'open' %>
            					        <div class="label label-success text-uppercase">
                					        <%= draft_order.status.gsub('_', ' ') %>
                					    </div>
            					    <% end %>
            					</td>
            					<td>
            					    <a href="<%= draft_order.invoice_url %>" target="blank" class="btn btn-blue">PAY</a>
            					</td>
            				</tr>
    			        <% end %>
    			    <% end %>
			    <% end %>
			    
			    <% if @draft_orders.nil? and ( @count == 0 ) %>
			        <tr id="invoice_empty_row" >
			            <td cols="5">
			                No invoice found
			            </td>
			        </tr>
			    <% end %>
			    
			</tbody>
		</table>
	</div>
</div>

<hr />

<div class="row">
	<div class="col-md-12">
		<h4>BILLING HISTORY</h4>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Date</th>
					<th>Details</th>
					<th>Amount</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>30 May 2016</td>
					<td><%= link_to 'ORDER #123456', dashboard_path %></td>
					<td><p class="text-primary">-£20.50</p></td>
				</tr>
				<tr>
					<td>30 May 2016</td>
					<td><%= link_to 'DEPOSIT #123456', dashboard_path %></td>
					<td><p class="text-success">+£20.50</p></td>
				</tr>
				<tr>
					<td>30 May 2016</td>
					<td><%= link_to 'ORDER #123456', dashboard_path %></td>
					<td><p class="text-info">£10.50</p></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>