<div class="page-header">
	<h3 class="text-uppercase">Settings</h3>
</div>

<div class="alert" id="setting-result"></div>

<%= form_for :customer, url: settings_update_path, remote: true, html: { class: 'form-horizontal form-groups-bordered validate', id: 'setting-form' } do |f| %>
    <%= f.hidden_field :id, value: @customer.id %>
    <div class="row">
		<div class="col-md-6 col-sm-6 col-xs-12">

			<div class="panel panel-primary" data-collapsed="0">

				<div class="panel-heading">
					<div class="panel-title">
						ME
					</div>

				</div>

				<div class="panel-body">

					<div class="form-group">
						<label for="field1" class="col-sm-3 control-label">First Name</label>

						<div class="col-md-6 col-sm-8">
						    <%= f.text_field :first_name , class: 'form-control', id: "field1", value: @customer.first_name, placeholder: 'John', "data-validate": "required" %>
						</div>
					</div>
					
					<div class="form-group">
						<label for="field1" class="col-sm-3 control-label">Last Name</label>

						<div class="col-md-6 col-sm-8">
						    <%= f.text_field :last_name , class: 'form-control', id: "field1", value: @customer.last_name, placeholder: 'Doe', "data-validate": "required" %>
						</div>
					</div>

					<div class="form-group">
						<label for="field2" class="col-sm-3 control-label">E-mail</label>

						<div class="col-md-6 col-sm-8">
						    <%= f.email_field :email , class: 'form-control', id: "field2", value: @customer.email, "data-validate": "required,email" %>
						</div>
					</div>

					<div class="form-group">
						<label for="field3" class="col-sm-3 control-label">Phone</label>
						<div class="col-md-6 col-sm-8">
						    <%= f.text_field :phone , class: 'form-control', id: "field3", value: @customer.phone, "data-validate": "required" %>
						</div>
					</div>

				</div>

			</div>

		</div>

		<div class="col-md-6 col-sm-6 col-xs-12">

			<div class="panel panel-primary" data-collapsed="0">

				<div class="panel-heading">
					<div class="panel-title">
						MY COMPANY
					</div>

				</div>

				<div class="panel-body">

					<div class="form-group">
						<label for="field-1" class="col-sm-3 control-label">Company name</label>

						<div class="col-sm-6">
						    <%= f.text_field :company , class: 'form-control', id: "field-1", value:  @customer.addresses.first.company %>
						</div>
					</div>

					<div class="form-group">
						<label for="field-2" class="col-sm-3 control-label">Website</label>

						<div class="col-sm-6">
						    <%= f.text_field :company_website , class: 'form-control', id: "field-2", value: @website_url, "data-validate": "url" %>
						</div>
					</div>

					<div class="form-group">
						<label for="field-3" class="col-sm-3 control-label">Work phone</label>

						<div class="col-sm-6">
						    <%= f.text_field :company_phone , class: 'form-control', id: "field-3", value:  @customer.addresses.first.phone %>
						</div>
					</div>

					<div class="form-group">
						<label for="field-4" class="col-sm-3 control-label">VAT number</label>

						<div class="col-sm-6">
						    <%= f.text_field :vat_number , class: 'form-control', id: "field-4", value: @vat_number %>
							<span class="description">If your company is within UK or EU, and you have a VAT number, please enter it here.</span>
						</div>
					</div>

				</div>

			</div>

		</div>
	</div>



	<div class="row">
		<div class="col-md-6 col-sm-6 col-xs-12">

			<div class="panel panel-primary" data-collapsed="0">

				<div class="panel-heading">
					<div class="panel-title">
						BILLING ADDRESS
					</div>
				</div>

				<div class="panel-body">

					<div class="form-group">
						<label for="field-5" class="col-sm-3 control-label">Address line 1</label>

						<div class="col-md-6 col-sm-8">
						    <%= f.text_field :address1 , class: 'form-control', id: "field-5", value:  @customer.addresses.first.address1, "data-validate": "required" %>
						</div>
					</div>

					<div class="form-group">
						<label for="field-6" class="col-sm-3 control-label">Address line 2</label>

						<div class="col-md-6 col-sm-8">
						    <%= f.text_field :address2 , class: 'form-control', id: "field-6", value:  @customer.addresses.first.address2 %>
						</div>
					</div>

					<div class="form-group">
						<label for="field-7" class="col-sm-3 control-label">City</label>

						<div class="col-md-6 col-sm-8">
						    <%= f.text_field :city , class: 'form-control', id: "field-7", value:  @customer.addresses.first.city, "data-validate": "required" %>
						</div>
					</div>

					<div class="form-group">
						<label for="field-8" class="col-sm-3 control-label">County (optional)</label>

						<div class="col-md-6 col-sm-8">
						    <%= f.text_field :county , class: 'form-control', id: "field-8", value:  @customer.addresses.first.province %>
						</div>
					</div>

					<div class="form-group">
						<label for="field-9" class="col-sm-3 control-label">Postcode</label>

						<div class="col-md-6 col-sm-8">
						    <%= f.text_field :postcode , class: 'form-control', id: "field-9", value:  @customer.addresses.first.zip, "data-validate": "required" %>
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-3 control-label">Country</label>

						<div class="col-md-6 col-sm-8">
                            <select class="form-control" name="customer[country]" value="<%= @customer.addresses.first.country %>" data-validate= "required">
								<option>United Kingdom</option>
								<option>United State</option>
							</select>
						</div>
					</div>

				</div>

			</div>

		</div>

		<div class="col-md-6 col-md-6 col-sm-8 col-xs-12">

			<div class="panel panel-primary" data-collapsed="0">

				<div class="panel-heading">
					<div class="panel-title">
						ADDITIONAL EMAILS
					</div>
				</div>

				<div class="panel-body">

					<p>If you want to add more email addresses for order or billing related notifications, you can enter them here.</p>

					<div class="form-group">
						<label for="field-10" class="col-sm-3 control-label">Order notification</label>

						<div class="col-md-6 col-sm-8 order-emails">
						    
						    <table id="order-table">
						        <%  if @order_emails == ',' %>
						            <tr>
						                <td style="width: 90%;"><%= f.email_field :order_email , name: "customer[order_email][]", value: '', class: 'form-control', "data-validate": "email", placeholder: 'i.e. john.doe@domain.com' %></td>
						                <td></td>
						            </tr>
						        <% end %>
						        <% @order_emails.split(',').each_with_index do |email, index| %>
						            <tr>
						                <td style="width: 90%;"><%= f.email_field :order_email , name: "customer[order_email][]", class: 'form-control', value: email, "data-validate": "email", placeholder: 'i.e. john.doe@domain.com' %></td>
						                <td>
						                    <% unless index == 0 %>
						                    <span class="close-order-email" onclick="close_email(this)">&times;</span>
						                    <% end %>
						                </td>
						            </tr>
						        <% end %>
						    </table>
							<span class="description"><a href="#" class="add-order-email">Add another email</a></span>
						</div>
					</div>

					<div class="form-group">
						<label for="field-11" class="col-sm-3 control-label">Billing notification</label>

						<div class="col-md-6 col-sm-8 billing-emails">
							<table id="billing-table">
							    <%  if @billing_emails == ',' %>
						            <tr>
						                <td style="width: 90%;"><%= f.email_field :billing_email , name: "customer[billing_email][]", value: '', class: 'form-control', "data-validate": "email", placeholder: 'i.e. john.doe@domain.com' %></td>
						                <td></td>
						            </tr>
						        <% end %>
						        <% @billing_emails.split(',').each_with_index do |email, index| %>
						            <tr>
						                <td style="width: 90%;"><%= f.email_field :billing_email , name: "customer[billing_email][]", class: 'form-control', value: email, "data-validate": "email", placeholder: 'i.e. john.doe@domain.com' %></td>
						                <td>
						                    <% unless index == 0 %>
						                    <span class="close-billing-email" onclick="close_email(this)">&times;</span>
						                    <% end %>
						                </td>
						            </tr>
						        <% end %>
						    </table>
							<span class="description"><a href="#" class="add-billing-email">Add another email</a></span>
						</div>
					</div>

				</div>

			</div>

		</div>
	</div>

	<div class="form-group default-padding">
		<button type="submit" class="btn btn-success" id="save-btn">Save Changes</button>
	</div>

<% end %>