<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--<meta name="description" content="Neon Admin Panel" />-->
	<!--<meta name="author" content="" />-->
	<!--<link rel="icon" href="assets/images/favicon.ico">-->
    <title>Dashboard | Clipping Path India</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body class="page-body" data-url="http://neon.dev">

	<div class="page-container horizontal-menu">

		<header class="navbar navbar-fixed-top"><!-- set fixed position by adding class "navbar-fixed-top" -->
		
			<div class="navbar-inner">
			
	  		<!-- logo -->
	  		<div class="navbar-brand">
	  			<%= link_to image_tag("clipping-path-india-logo-light-for-dashboard.png", :alt => "Clipping Path India Logo", :class => 'logo'), root_path %>
	  		</div>
				
				<!-- main menu -->
							
				<ul class="navbar-nav pull-right">
					<li>
						<a href="index.html">
							<span class="title">MY ORDERS</span>
						</a>
					</li>
					<li>
						<a href="index.html">
							<span class="title">QUOTATIONS</span>
						</a>
					</li>
					<li>
						<a href="index.html">
							<span class="title">BILLING</span>
						</a>
					</li>
					<li class="has-sub">
						<a href="index.html">
							<span class="title">ATIQUR SUMON</span>
							<i class="entypo-down-open-mini"></i>
						</a>
						<ul>
							<li>
								<a href="index.html">
								  <i class="entypo-cog"></i>
									<span class="title">SETTINGS</span>
								</a>
							</li>
							<li>
								<a href="dashboard-2.html">
								  <i class="entypo-logout"></i>
									<span class="title">LOG OUT</span>
								</a>
							</li>
						</ul>
					</li>
				</ul>
							
				<!-- notifications and other links -->
				<ul class="nav navbar-right pull-right">

					<!-- mobile only -->
					<li class="visible-xs">	
					
						<!-- open/close menu icon (do not remove if you want to enable menu on mobile devices) -->
						<div class="horizontal-mobile-menu visible-xs">
							<a href="#" class="with-animation"><!-- add class "with-animation" to support animation -->
								<i class="entypo-menu"></i>
							</a>
						</div>
						
					</li>
					
				</ul>
		
			</div>
		
		</header>
		
		<div class="main-content">

			<%= yield %>
			
			<!-- Footer -->
			<footer class="main">
				&copy; 2015 <strong>Neon</strong> Admin Theme by <a href="http://laborator.co" target="_blank">Laborator</a>
			</footer>

		</div>
		
	</div>
	
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</body>
</html>