<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!--<link rel="icon" href="assets/images/favicon.ico">-->
    <title>Get a Quote | Clipping Path India</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    {% if customer.id %}
    
     <script>
       var hashToken =  "?token={% include 'customer_id_hash' %}&hash={% include 'customer_hash' %}";
      </script>
      {% else %}
      <script>
       var hashToken =  "";
      </script>
    {% endif %}
</head>

<body class="page-body" data-url="http://neon.dev">

	<div class="page-container horizontal-menu">

		<header class="navbar navbar-fixed-top"><!-- set fixed position by adding class "navbar-fixed-top" -->

			<div class="navbar-inner">

	  		<!-- logo -->
	  		<div class="navbar-brand">
	  			<%= link_to image_tag("clipping-path-india-logo-light-for-dashboard.png", :alt => "Clipping Path India Logo", :class => 'logo'), dashboard_path %>
	  		</div>

			</div>

		</header>

		<div class="main-content guest-layout">
			<div class="container">

				<!-- Alternative to Flash messages -->
				<%= render "layouts/flash_alternative" %>

				<%= yield %>

			</div>
		</div>

	</div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</body>
</html>